.checkout-page-wrapper{
  padding:20px;
  background:#292929;
  color:#fff;
}

.checkout-title {
  font-weight: 700;
}

.checkout-summary-table{
  border:2px solid #e62929;
}

.checkout-summary-table th,
.checkout-summary-table td{
  padding:5px 8px;
}

form {
  margin-top:10px;
}

form p{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.checkout-page-wrapper a {
  background-color: #e62929;
  border:none;

  &:hover{
    background-color: #FF6B6B;
  }
}