<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinemax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header class="header">
        <nav class="header__nav navbar navbar-expand-xl navbar-toggleable-xl">
            <div class="header__nav-inner">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                  <img width="150" src="../../image/Cinemax_Logo.png" alt="Logo kina cinemax">
                </a>
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="MainShowings">MainShowings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="RoomSeats">Room Seats</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ScreeningRooms">Screening Rooms</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Showings">Showings</a>
                        </li>

                        <partial name="_LoginPartial" />
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>

      @RenderBody()

    <footer class="footer">
      <div class="footer-info">
        <div class="footer-info__column footer-info__column--image">
          <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
              <img width="300" src="../../image/Cinemax_Logo.png" alt="Logo kina cinemax">
            </a>
          </div>
        </div>

        <div class="footer-info__column">
          <div class="footer-info__column-inner">
            <h3 class="footer-info__heading">Heading 1</h3>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
          </div>
        </div>

        <div class="footer-info__column">
          <div class="footer-info__column-inner">
            <h3 class="footer-info__heading">Heading 2</h3>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
          </div>
        </div>

        <div class="footer-info__column">
          <div class="footer-info__column-inner">
            <h3 class="footer-info__heading">Heading 3</h3>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
            <div class="footer-info__link"><a class="footer-info__link-inner" href="#">Lorem ipsum dolor...</a></div>
          </div>
        </div>
      </div>

        <div class="container">
            &copy; 2022 - Cinemax_Ticket_Booking_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
