@model Cinemax_Ticket_Booking_System.Models.Showing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Showing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDS" />
            <div class="form-group">
                <label asp-for="ShowStart" class="control-label"></label>
                <input asp-for="ShowStart" class="form-control" />
                <span asp-validation-for="ShowStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailibleSeats" class="control-label"></label>
                <input asp-for="AvailibleSeats" class="form-control" />
                <span asp-validation-for="AvailibleSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDMovie" class="control-label"></label>
                <select asp-for="IDMovie" class="form-control" asp-items="ViewBag.IDMovie"></select>
                <span asp-validation-for="IDMovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDScreenRoom" class="control-label"></label>
                <select asp-for="IDScreenRoom" class="form-control" asp-items="ViewBag.IDScreenRoom"></select>
                <span asp-validation-for="IDScreenRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
