@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //2 Dim array response
    int[,] roomGrid = (int[,])ViewData["takenSeats"];

    //Pattern Id of showingRoom
    int patternId = (int)ViewData["pattern"];

    int showId = (int)ViewData["showId"];
}

<h1>THIS IS SHOWING BOOKING</h1>
@roomGrid
@patternId
@showId
<div class="room-seats">
  <div class="room-seats__screen"></div>

  @for (int i = 0; i < roomGrid.GetLength(0); i++){

    <div class="room-seats__row">
      <span class="room-seats__row-number">@(i+1)</span>

    @for (int j = 0; j < roomGrid.GetLength(1); j++) {
      <div class="room-seats__seat" style="background-image: url(../../image/seat_.svg);">
        <p class="room-seats__seat-number room-seats__seat-number--color">@(j+1)<span class="seat-reservation-hidden-value" style="display:none!important;">@roomGrid[i,j]</span></p>
      </div>
    }

    </div>
  }
</div>
