@using Microsoft.AspNetCore.Http
@using System
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //2 Dim array response
    int[,] roomGrid = (int[,])ViewData["takenSeats"];

    //Pattern Id of showingRoom
    int patternId = (int)ViewData["pattern"];

    int showId = (int)ViewData["showId"];

    CookieOptions options = new CookieOptions();
    options.Expires = DateTime.Now.AddDays(7);


}

<h1>THIS IS SHOWING BOOKING</h1>
@*
@roomGrid
@patternId
*@



<div class="room-seats">
  <span class="room-seats__showId" style="display:none!important;">@showId</span>
  <div class="room-seats__screen"></div>

  @for (int i = 0; i < roomGrid.GetLength(0); i++){

    <div class="room-seats__row">
      <span class="room-seats__row-number">@(i+1)</span>

    @for (int j = 0; j < roomGrid.GetLength(1); j++) {
      <div class="room-seats__seat">
        <p class="room-seats__seat-number room-seats__seat-number--color">@(j+1)</p><span class="seat-reservation-hidden-value" style="display:none!important;">@roomGrid[i,j]</span>
      </div>
    }

    </div>

    <a class="btn btn-primary" style="display:none;" action="ScreenRoom" asp-action="BookingTickets" asp-route-tickets="JSONFILE">CHECKOUT</a>
  }
</div>

<div>
  <a class="btn btn-primary testAction">Set Cookie - Test button</a>
</div>

<div>
    <a class="btn btn-primary" action="CheckOutTickets" asp-action="CheckOutTickets">Checkout</a>
</div>