@{
    ViewData["Title"] = "Home Page";
}

<main class="home">
  <div class="hero-shadow"></div>
  <video id="home-video" class="hero-img" width="1920" height="1080" autoplay muted loop>
    <source src="../../image/pexels-tima-miroshnichenko-7989390.mp4" type="video/mp4">
    Wybacz, ale twoja przeglądarka nie wspiera odtwarzania video.
  </video>
  <div class="hero-text">
    <h1 class="hero-text__heading">witamy w cine<span class="hero-text__heading--text-color">max</span></h1>
    <p class="hero-text__description">W miejscu, gdzie kino nabiera inny wymiar</p>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
</main>
