@{
    ViewData["Title"] = "Home Page";
}

<main class="home">
  <div class="hero-shadow"></div>
  <img class="hero-img" width="1920" height="1080" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg" alt="Illuminated city at night" />
  <div class="hero-text">
    <h1 class="hero-text__heading">witamy w cine<span class="hero-text__heading--text-color">max</span></h1>
    <p class="hero-text__description">W miejscu, gdzie kino nabiera inny wymiar</p>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
  <div class="circle">
      <div class="circle__inner"></div>
  </div>
</main>
